<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">Title</th>
      <th scope="col">Ingredients</th>
    </tr>
  </thead>
  <tbody>
   <% @recipes.each do |recipe| %>
    <tr>
      <td><%= image_tag recipe["thumbnail"] %></td>
      <td><%= link_to recipe["title"], recipe["href"], target: "_blank" %></td>
      <td><%= recipe["ingredients"] %></td>
    </tr>
   <% end %>
  </tbody>
</table>