

<nav class="navbar navbar-expand-lg navbar-light bg-light"  style="margin-bottom: 70px;">
    <%= link_to root_path, class: "navbar-brand" do %>
  	<%= image_tag "mortar.png", class: "d-inline-block align-top", width: "30", height: "30" %>
    Recipe Finder
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
 
 	<ul class="navbar-nav mr-auto">
    </ul>
    
    <!-- Search form -->
<%= form_tag recipes_path, :method => 'get', class: "form-inline my-2 my-lg-0", :remote => true, id: "recipes_search_form" do %>

    <%= text_field_tag :search, params[:search], class: "form-control mr-sm-2", placeholder: "search", id: "recipes_search_field", autofocus: true %>
    <%= submit_tag "Search", :name => nil, id: "search_button", style: "display: none;" %>

<% end %>

  </div>
</nav>