<!DOCTYPE html>
<html>
  <head>
    <title>Recipe Finder</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!-- Navbar -->
    <%= render "shared/navbar" %>
    <!-- Main Content -->
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
